body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.square {
    box-sizing: border-box;
    height: auto;
    width: 50px;
    background-color: white;
    border: 1px solid grey;
    margin: 0;
    flex: auto;
}

.blacksquare {
    background-color: black;
}

button {
    margin-top: 60px;
}